html {
  --a: #030609;
  --b: #131619;
  --c: #232629;
  --d: #333639;
  --e: #434649;
  --f: #535659;
  --g: #636669;
  --h: #737679;
  --i: #838689;
  --j: #939699;
  --k: #a3a6a9;
  --l: #b3b6b9;
  --m: #c3c6c9;
  --n: #d3d6d9;
  --o: #e3e6e9;
  --p: #f3f6f9;
}
@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--p);
    background: var(--d);
  }
}
